
.curseclient
.qmenu_opened.marker
/backups
usernamecache.json
usercache.json
/screenshots
/saves
rhino.local.properties
/resourcepacks
/mods
/logs
/local
kubejs/README.txt
defaultconfigs/ftbessentials-server.snbt
defaultconfigs/ftbquests/client-config.snbt
defaultconfigs/ftbultimine/ftbultimine-server.snbt
defaultconfigs/ftbultimine/ftbultimine-client.snbt
defaultconfigs/ftblibrary/ftblibrary-client.snbt
defaultconfigs/ftbchunks/ftbchunks-world.snbt
defaultconfigs/ftbchunks/client-config.snbt
/crash-reports
minecraftinstance.json
options.txt
patchouli_data.json
/.probe
/.vscode
config/aether-client.toml
config/aether-common.toml
config/alexsmobs.toml
config/alexscaves-general.toml
config/alexscaves-client.toml
config/anthillinside-common.toml
config/appleskin-client.toml
config/ars_caelum-server.toml
config/ars_nouveau-client.toml
config/ars_nouveau-common.toml
config/ars_nouveau-server.toml
config/balm-common.toml
config/betteradvancements-client.toml
config/bluepower-common-1.toml.bak
config/bluepower-common-2.toml.bak
config/bluepower-common-4.toml.bak
config/bluepower-common-3.toml.bak
config/bluepower-common.toml
config/citadel-common.toml
config/classicbar-client.toml
config/clickmachine.cfg
config/cofh_core-client.toml
config/cofh_core-common.toml
config/commoncapabilities-common.toml
config/create-client.toml
config/create-common.toml
config/create_dd-client.toml
config/create_dd-common.toml
config/createaddition-common.toml
config/cucumber-client.toml
config/cucumber-common.toml
config/cucumber-tags.json
config/cumulus_menus-client.toml
config/curios-client.toml
config/curios-common.toml
config/cyclic-client.toml
config/cyclic.toml
config/cyclopscore-common.toml
config/dimdoors-config.json5
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/embers-client.toml
config/embers-common.toml
config/engineersdecor-common.toml
config/essentials-client.toml
config/essentials-server.toml
config/exoticbirds-common.toml
config/experimentalsettingsdisabler-client.toml
config/extendedcrafting-client.toml
config/extendedcrafting-common.toml
config/extractinator.jsonc
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/fastsuite.cfg
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/flib.toml
config/fml.toml
config/forge-client.toml
config/forgivingvoid-common.toml
config/gravestone-client.toml
config/highlighter-common.toml
config/gtceu.yaml
config/immediatelyfast.json
config/IDontWantPortalYet-common.toml
config/immersiveengineering-client.toml
config/immersiveengineering-common.toml
config/integrateddynamicscompat-common.toml
config/integratedtunnels-common.toml
config/integrateddynamics-common.toml
config/itemborders-common.toml
config/itemphysiclite-client.json
config/jade/hide-blocks.json
config/jade/hide-entities.json
config/jade/jade.json
config/jade/plugins.json
config/jade/sort-order.json
config/jei/blacklist.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/jei-client.ini
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
config/jei/recipe-category-sort-order.ini
config/jeresources-common.toml
config/jeresources.toml
config/jetboots-client.toml
config/littlelogistics-client.toml
config/jetboots-server.toml
config/littlelogistics-common.toml
config/lootbeams-client.toml
config/modularrouters-client.toml
config/modularrouters-common.toml
config/moonlight-common.toml
config/moonlight-client.toml
config/morered-client.toml
config/MouseTweaks.cfg
config/patchouli-client.toml
config/pedestals-client.toml
config/pedestals-common.toml
config/quark-common.toml
config/railcraft-client.toml
config/ppfluids-common.toml
config/railcraft-common.toml
config/resourceful-config-web.json
config/reactive-common.toml
config/reactive-client.toml
config/sidebar_buttons.json
config/sophisticatedcore-client.toml
config/sophisticatedcore-common.toml
config/sophisticatedstorage-common.toml
config/sophisticatedstorage-client.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/thermal-client.toml
config/terrablender.toml
config/thermal-common.toml
config/toms_storage-common.toml
config/trashcans-common.toml
/config/aether
/config/alexscaves_biome_generation
/config/alexsmobs
/config/ars_nouveau
/config/biomesoplenty
/config/bountiful
/config/enderio
/config/energizedpower
/config/extendedcrafting
/config/functionalstorage
/config/jei
/config/Mekanism
/config/Obscuria
/config/skyblockbuilder/data
config/skyblockbuilder/customization.json5
config/skyblockbuilder/inventory.json5
/config/spark
/config/titanium
/config/ultimine_addition
config/unusualprehistory-common.toml
config/warp_pipes-common.toml
/config/worldedit
/config/worldplaytime
/config/xycraft
config/zeta-common.toml
defaultconfigs/bucketlib-server.toml
defaultconfigs/ceramicbucket-server.toml
defaultconfigs/ceramicshears-server.toml
kubejs/server_scripts/jsconfig.json
kubejs/jsconfig.json
kubejs/config/probejs.json
kubejs/config/probe-settings.json
kubejs/client_scripts/jsconfig.json
